# Neon PostgreSQL Database Connection String
DATABASE_URL="postgresql://username:password@ep-host-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth Secret Configuration (Generate with `openssl rand -base64 32`)
NEXTAUTH_SECRET="your_nextauth_secret_base64_string_here"
NEXTAUTH_URL="http://localhost:3080"
